@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

.dark{
  --bg: #202020;
  --title:#f8f8f8;
  --tile:white;
  --chatBg:#111;
  --redAcc:#DC3545
}

.light{
  --bg:#f8f8f8;
  --title:#171717;
  --tile:white;
  --chatBg:#ccc;
  --redAcc:#DC3545
}

.content {
  width:100%;
}

.title_cont{
  text-align: center;
}

.title_font{
  color: var(--title);
  font-family: 'Mr Dafoe', cursive;
  font-size: 70px;
  transition: color 0.5s;
}

.title_font:hover{
  color: var(--redAcc);
}


.paragraphs{
  display: contents;
}

.signup-card{
  text-align: center;
}

.join-form{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.update-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0px 10px;
  padding: 0% 20%;
}


.staff{
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  color:white
}
.contacts_col{
  background-color: var(--bg);
  padding: 0px;
  box-shadow: .5rem 0 1rem rgba(0,0,0,.15)!important;
  z-index: 2;
  height: 100vh;
  overflow-y:scroll; 

}

.prev_message{
  font-size: smaller;
  margin-bottom: 0px;
}
.username{
  display: inline-block;
  margin-left: 10px;
  line-height: 1;
  font-size: 75%;
}

.listDP{
  object-fit: cover;
  width: 42px;
  height: 42px;  
  border-radius: 25%;
  /* border: 4px solid white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.updateDP{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.changeDP{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listDP2{
  object-fit: contain;
  width: 200px;
  border-radius: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
.sub_Heading
{
  color: var(--title);
  font-size: x-large;
  font-family: 'Roboto Slab', serif;
}

.recepient_name{
  font-size: x-large;
  font-family: 'Roboto Slab', serif;
}

.search{
  margin: 10px 20px;
}
.Profile_Name{
  flex-grow: '1';
  text-align: center;
  font-size: x-large;
  font-family: 'Roboto Slab', serif;
}
.message-list-name{
  font-size:large;
  font-family: 'Roboto Slab', serif;
  margin-bottom:0px;
  height: 24px;
  overflow: 'hidden';
  white-space: 'nowrap';
}

.add-friends-name{
  font-size:large;
  font-family: 'Roboto Slab', serif;
  overflow: 'hidden';
  white-space: 'nowrap';
}

.friends-list-name{
  font-size:x-large;
  font-family: 'Roboto Slab', serif;
  
}


.icon-box{
  text-align: center;
}
.sidebar-icons{
  fill: var(--title);
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.sidebar-icons:hover{
  fill:var(--redAcc);
  transform: scale(1.3);
  filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .2));
}

.friend-list-name{
  font-size:large;
  font-family: 'Roboto Slab', serif;
  margin-bottom:0px;
  height: 24px;
  overflow: 'hidden';
  white-space: 'nowrap';
}
.add-icon{
  width: 20px;
  margin: 0px 0px 0px 10px;
  fill: white;
  height: 20px;
  vertical-align: sub;
}
/* .listDP_frame{
    position: relative;
    text-align: center;
    color: white;
} */
.messages_list_group{  
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.request_group{  
  padding: 0px;
}
/*  */

/*  */
.messages_list_item{
  cursor: pointer;
  padding: 10px;
  margin: 7px 0px 0px 0px;
  border-radius: 10px;
  color:black;
  background-color: var(--tile);
  transition: background-color 0.2s;
}

.messages_list_item:hover{
  background-color: var(--redAcc);
  color: white;
}
.selected{
  color: white;
  background-color: #333;
}
.gradient{
  background-image: linear-gradient( 135deg, #5eff9e 30%,  #00ffde 100%)
}
.gradient-list{
  /* border-left:7px solid #00ffde; */
  background-color: var(--redAcc);
  color: white;
}
.gradient-0{
  background-image: linear-gradient( 135deg, #2AFADF 30%, #4C83FF 100%);
  /* color: white; */
}
.gradient-1{
  background-image: linear-gradient( 135deg, #5961F9 10%,  #EE9AE5 100%);
}
.gradient-2{
  background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
}
.gradient-3{
  background-image: linear-gradient( 135deg, #FFAA85 10%, #B3315F 100%);
}
.gradient-4{
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
}



.time{
  /* text-align: end; */
  font-size: smaller;
}
.online{
  float:right;
}
.contactsType{
  width:100%;
  padding: 0px 10px;
}
.online {
  position: absolute;
  bottom: 3px;
  right: 0px;
}



.username_div{
  margin: 10px;
}

.add-friends{
  margin:20px 10px;
}

.subHeading{
  font-family:Arial, Helvetica, sans-serif ;  
  font-weight: 500;
  font-variant:small-caps;
}

.chat-title{
  display: flex;
  background-color: var(--bg);
  color: var(--title);
  padding: 5px 10px;
  z-index: 1;
}

.chatDP{
  height: 70px;
  width: 70px;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 25%;
}

.chat-title-label{
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-input{
  background-color: white;
  padding: 10px;
  box-shadow: 0 -0.5rem 1rem rgba(0,0,0,.15)!important;
}


.chat-col{
  /* background-color: whitesmoke; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--chatBg);
  padding: 0px;
}

.attach-btn{
  margin: 5px;
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.attach-icons{
  position: absolute;
  bottom: 75px;
  right: 60px;
}

.friend-tile{
  object-fit: cover;
  width: 100px;
  height: 100px;  
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.add-friend-tile{
  object-fit: cover;
  width: 100px;
  height: 100px;  
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.chat-messages{
  flex-grow: 1;
  /* background-color: whitesmoke; */
  overflow-y:scroll; 
}

.bubble{
  display:inline-block;
  margin: 0px 10px 5px 10px;
  padding: 10px 20px 10px 20px;
  /* border: gray solid 1px; */
  border-radius: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.bubble-message{
  margin:0px;
  display:block;
  font-size: medium;
}
.bubble-date{
  font-size:smaller;
}

.bubble-message-name{
  display: block;
  font-size: 12px;
  margin: 0px 0px 0px 20px;
  font-weight: bold;
  color: rgba(0,0,0,0.4);
  font-style: italic;
}

.sender{
  background-color: white;
}

div::-webkit-scrollbar {
  width: 0px;
}
 
.right-bubble{
  text-align: end;
}

.center-bubble{
  text-align: center;
  margin-top: 10px;
}

.welcomeBubble{
  background-color: #555;
  color: white;
  font-size: small;
  font-family: 'Roboto Slab', serif;
}

.right-bubble .sender{
  color: white;
  background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
  /* background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%); */
}

.right-bubble .bubble-message-name{
  margin:0px 20px 0px 0px;
}

/* .login-input-field{
  background-color: gray;
} */

.ListButtons{
  width:100%;
  margin: 5px;
  font-size: large;
  font-family: 'Roboto Slab', serif;
}

.whitee{
  background-color: white;
}

.whitee:hover{
  background-color: #ccc;
}

.upload-on-image{
  position: relative;
  bottom: 45px;
  left: 60px;
  border-radius: 50%;
  height: 45px;
}
.map-marker{
  text-align: center;
  width: fit-content;
}

.map-marker-dp{
  padding: 2px;
  width:50px;
  height:50px;
  object-fit: cover;
  border-radius: 50%;
}

.post{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #bbb;
}

.post-image-container{
  width: inherit;
  height: inherit;
  position: relative;
  text-align: center;
}

.post-image-text{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-image{
  width: inherit;
  height: inherit;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.parent {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 250px;
  width: 100%;
  }

  .post-caption{
      margin: 10px 0px 10px 10px;
  }

  .error-card{
    text-align: center;
    color: red;
  }

.LoadingPage{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  align-items: center;
  justify-content: center;
  
}

.loader {
  width: 100px;
  height: 100px;
  animation: beat 2s linear infinite;
}

@keyframes beat {
  0% { transform: scale(0.8) }
  50% { transform: scale(1); }
  100% { transform: scale(0.8); }
}

.pinCont{
  display:flex;
  justify-content: center;
}

.pin{
  background-color: #ccc;
  border: 1px solid #bbb;
  text-align: center;
  font-size: 15px;
  border-radius: 20px;
  margin:0px 5px;
  letter-spacing: 3px;
  font:large Verdana,sans-serif;
}

.key{
  font:large Verdana,sans-serif;
}

.key::placeholder{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1rem;
}

.pin:focus-visible{
  outline: none;
}

.pinSubmit{
  border: none;
  background: #24A0ED;
  border-radius: 50px;
  padding: 10px;
}

.pinSubmit:focus-visible{
  outline: none;
}

.imageGrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap:10px
}

.upload{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:large;
  font-family: 'Roboto Slab', serif;

}

.icon{
  width:50px;
  fill: var(--title);
}

.illustration{
  height: 450px;
}

.capt{
  color: var(--title);
  font-size:20px;
  margin-top:-25px;
  letter-spacing: 3px;
}